@charset "UTF-8";

:root{
    --cor1: rgb(5, 196, 5);
    --cor2: rgb(5, 150, 150);
    
    --fonte: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#titulo1{
    text-align: center;
    color: rgb(32, 113, 167);
    font-family: var(--fonte);
}

.tit{
    color: var(--cor2);
}

.tituloprincipal{
    text-align: justify;
    height: 35%;
    border: 1px solid black;
}

.tituloesquerda{
    display: inline-block;
    text-align: center;
    height: 45%;
    width: 200px;
    border: 1px solid black;
}

.titulodireita{
    display: inline-block;
    text-align: center;
    height: 45%;
    width: 200px;
    border: 1px solid black;
}

#tudo{
    text-align: center;
}